<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBz6iiDzVmKw2iINtP-4Rfoh5_F-GN9i_8</string>
	<key>GCM_SENDER_ID</key>
	<string>460568736204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minimalSocialMedia</string>
	<key>PROJECT_ID</key>
	<string>minimal-social-app-b7ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>minimal-social-app-b7ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460568736204:ios:309217e66690d90867ad69</string>
</dict>
</plist>